body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: mediumorchid;
}

.images,
.choices,
.result {
    width: 100%;
    text-align: center;
}

 picture img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}